<%= javascript_include_tag :application %>

<p id="notice"><%= notice %></p>

<center class='hero'>
<h1> <%= @community.label %></h1>
<h2>Kharma Balance: <%= @community.balance %></h2>
<p ><%= image_tag("/assets/community.jpg", width: "200px", height: "200px") %></p>

</center>
<table>
  <thead>
    <tr>
       <% @members.each do |member| %>
        <th width="25%"><%= member.name %></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
      <tr>
    <% @members.each do |member| %>
        <td><%= image_tag("/assets/" + member.name + ".png", width: "50px", height: "50px") %></td>
    <% end %>
      </tr>
            
      <tr>
    <% @members.each do |member| %>
        <td><%= member.description %></td>
    <% end %>
      </tr>
      
            <tr>
    <% @members.each do |member| %>
        <td><%= image_tag("/assets/" + member.name + "1.jpg") %></td>
    <% end %>
      </tr>
      
      <tr>
    <% @members.each do |member| %>
        <td><%= member.balance %> Punkte</td>
    <% end %>
      </tr>
      
       <tr>
    <% @members.each do |member| %>
        <td><%= link_to 'Belohnen', members_reward_path(member)%>
        <%= link_to 'Spenden', members_donate_path(member) %>
        <%= link_to 'Auszahlen', members_exchange_path(member), data: { confirm:  '100 Punkte werden konvertiert und auf das Taschengeldkonto von ' + member.name + ' eingezahlt.' }  %>
        </td>
    <% end %>
      </tr>
  </tbody>
</table>

<!-- <%= link_to 'New Member', new_member_path %> -->
